<hr/>

    <div class="row-content">
        <% if @company.months_on_program == 1 %>
            <h2>You have been on the LeadGen program for <span><%= @company.months_on_program %></span> month.</h2><br />
        <% else %>
            <h2>You have been on the LeadGen program for <span><%= @company.months_on_program %></span> months.</h2><br />
        <% end %>
        <h2>Our team is constantly working to get and keep your site ranking well in Google</h2>
        <h2>Read the tips below to see how you can help the process out!</h2>
    </div>
    <h5>IF YOU WOULD LIKE TO IMPROVE YOUR LEAD GENERATION WE HAVE A FEW TIPS FOR YOU:</h5>
    <ul class="list list-steps ">
        <li><span class="circle circle-step">1</span>Customize your LeadGen site to your company. We can change or add: content, images, videos, certifications, social buttons, etc.</li>
        <li><span class="circle circle-step ">2</span>Get reviews from your customers on your Google maps listings, Yelp listing, and CitySearch.</li>
        <li><span class="circle circle-step ">3</span>Get local organizations to link to your website.</li>
        <li><span class="circle circle-step ">4</span>If you sponsor any local organizations ask them to put a link to your LeadGen site on their website.</li>
    </ul>
    
 
<hr/>

    <div class="page-subheading"><h2>Your website has been visited <span>UNIQUE VISITORS times</span> in the past month  That's an <span>increase of 50%</span> from last month.</h2></div>
    <h3 class="heading-link"><i class="icon-caret-right"></i><a href="/web-metrics">Read more about your web statistics.</a></h3>