        <div class="row">            
            <div class="span10">
                <div class="widget">
                    <h5 class="underline">Your Follow Through <span class="question"  title="An unprocessed lead is one that hasn't been followed through on in five days. View your leads to report what happened to each opportunity."></span></h5>
                    <p>Processing leads helps you to keep track of what happened with each opportunity. </p>
                    <div class="progress progress-striped progress-red">
                        <div class="bar" style="width: {$percentage}%;"></div>
                    </div>
                    <p class="progress-status font-red">You need to close the loop on UN PROCESSED ACTIONS actions!</p>
                </div>
                <% if @company.google_maps_status == "Verified Complete" || "Verified not through leadgen (links to leadgen site)" %>    
                        <div class="alert alert-success row-content">
                            <p><span class="font-upper">You Are in Good Standing!</span><br/>
                            Visit your <%= link_to 'leads page', '/leads' %> to process any remaining actions you have.</p>
                        </div>
                <% else %>
                        <div class="alert alert-error row-content">
                                <p>
                                    <span class="font-upper">The following areas need your attention:</span><br/>
                                        You need to close the loop on UN PROCESSED ACTIONS actions! Go to your <%= link_to 'leads page', '/leads' %>
                                        You need to to get verified on Google Maps. Call us: (888) 414-2399!
                                </p>
                        </div>
                <% end %>
            </div>
            
        </div>