<div id="main">     
<div class="container">
<script src="/portal/includes/jscript/accounting.min.js"></script>
{literal}
    <script type="text/javascript">
            formatMoney = function(number, c, d, t)
            {
            var n = number, 
                c = isNaN(c = Math.abs(c)) ? 2 : c, 
                d = d == undefined ? "." : d, 
                t = t == undefined ? "," : t, 
                s = n < 0 ? "-" : "", 
                i = parseInt(n = Math.abs(+n || 0).toFixed(c)) + "", 
                j = (j = i.length) > 3 ? j % 3 : 0;
               return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
             };

            function recalculate()
            {
                //
                var value_of_lead = parseFloat($("#s_value_of_lead").val().split(',').join(''));
                
                var total_leads_since_jan12013 = parseFloat($("#s_service_leads_since_jan12013").html()) + parseFloat($("#s_install_leads_since_jan12013").html());
                var total_leads_last_3_months = parseFloat($("#s_service_leads_last_3_months").html()) + parseFloat($("#s_install_leads_last_3_months").html());

				//Value
                $("#s_value_all_leads_since_jan12013").html(accounting.formatMoney(value_of_lead * total_leads_since_jan12013));
                $("#s_avg_value_all_leads_since_jan12013").html(accounting.formatMoney(accounting.unformat($("#s_value_all_leads_since_jan12013").html()) / $("#s_months_on_program").html()));
                $("#s_value_all_leads_last_3_months").html(accounting.formatMoney(value_of_lead * total_leads_last_3_months));
                $("#s_avg_value_all_leads_last_3_months").html(accounting.formatMoney(accounting.unformat($("#s_value_all_leads_last_3_months").html()) / $("#s_months_on_program").html()));

                //Install
                $("#s_revenue_install_leads_since_jan12013").html(accounting.formatMoney($("#s_install_leads_since_jan12013").html() * (parseFloat($("#s_sales_close_rate").val().split(',').join('')) / 100) * parseFloat($("#s_average_equipment_sale").val().split(',').join(''))));
                $("#s_avg_revenue_install_leads_since_jan12013").html(accounting.formatMoney(accounting.unformat($("#s_revenue_install_leads_since_jan12013").html()) / $("#s_months_on_program").html()));
                $("#s_revenue_install_leads_last_3_months").html(accounting.formatMoney($("#s_install_leads_last_3_months").html() * (parseFloat($("#s_sales_close_rate").val().split(',').join('')) / 100) * parseFloat($("#s_average_equipment_sale").val().split(',').join(''))));
                $("#s_avg_revenue_install_leads_last_3_months").html(accounting.formatMoney(accounting.unformat($("#s_revenue_install_leads_last_3_months").html()) / $("#s_months_on_program").html()));

                //Service
                $("#s_revenue_service_leads_since_jan12013").html(accounting.formatMoney($("#s_service_leads_since_jan12013").html() * (parseFloat($("#s_service_call_close_rate").val().split(',').join('')) / 100) * parseFloat($("#s_average_service_call_sale").val().split(',').join(''))));
                $("#s_avg_revenue_service_leads_since_jan12013").html(accounting.formatMoney(accounting.unformat($("#s_revenue_service_leads_since_jan12013").html()) / $("#s_months_on_program").html()));
                $("#s_revenue_service_leads_last_3_months").html(accounting.formatMoney($("#s_service_leads_last_3_months").html() * (parseFloat($("#s_service_call_close_rate").val().split(',').join('')) / 100) * parseFloat($("#s_average_service_call_sale").val().split(',').join(''))));
                $("#s_avg_revenue_service_leads_last_3_months").html(accounting.formatMoney(accounting.unformat($("#s_revenue_service_leads_last_3_months").html()) / $("#s_months_on_program").html()));

                //Total
                $("#s_revenue_all_leads_since_jan12013").html(accounting.formatMoney(parseFloat(accounting.unformat($("#s_revenue_install_leads_since_jan12013").html())) + parseFloat(accounting.unformat($("#s_revenue_service_leads_since_jan12013").html()))));
                $("#s_avg_revenue_all_leads_since_jan12013").html(accounting.formatMoney(parseFloat(accounting.unformat($("#s_avg_revenue_install_leads_since_jan12013").html())) + parseFloat(accounting.unformat($("#s_avg_revenue_service_leads_since_jan12013").html()))));
                $("#s_revenue_all_leads_last_3_months").html(accounting.formatMoney(parseFloat(accounting.unformat($("#s_revenue_install_leads_last_3_months").html())) + parseFloat(accounting.unformat($("#s_revenue_service_leads_last_3_months").html()))));
                $("#s_avg_revenue_all_leads_last_3_months").html(accounting.formatMoney(parseFloat(accounting.unformat($("#s_avg_revenue_install_leads_last_3_months").html())) + parseFloat(accounting.unformat($("#s_avg_revenue_service_leads_last_3_months").html()))));
				
                //Profit & ROI
				$("#s_profit_margin_text").html(parseFloat($("#s_profit_margin").val()));
				$("#s_gross_profit").html(accounting.formatMoney(accounting.unformat($("#s_revenue_all_leads_since_jan12013").html()) * (parseFloat($("#s_profit_margin").val().split(',').join('')) / 100)));
				if (accounting.unformat($("#s_price_paid").html()) == '0') $("#s_roi").html("0%");
				else if (accounting.unformat($("#s_gross_profit").html()) < accounting.unformat($("#s_price_paid").html())) $("#s_roi").html("0%");
				else $("#s_roi").html(accounting.formatMoney((accounting.unformat($("#s_gross_profit").html()) - accounting.unformat($("#s_price_paid").html())) / (accounting.unformat($("#s_price_paid").html()) * 0.01), { precision : 0, symbol: "%",  format: "%v%s" }));
				
				//Extra Formatting
				$("#s_price_paid").html(accounting.formatMoney($("#s_price_paid").html()));
            }
            
        $(function(){
            $("select[name=client_id]").change(function(){
                if($(this).val() > 0)
                {
                        $("#email-pdf").show();
                }
                else
                {
                        $("#email-pdf").hide();
                }
            });
            
            $("select[name=client_id]").change();
            
            $("#send-report").click(function(){
                contractor_id   =   $("#roi_report select[name=client_id]").val();
                emails          =   $("#roi_report textarea[name=emails]").val();

                additionals     =   '';
                $("#report-main input[type=text]").each(function(){
                    if($(this).attr('name') != '')
                    {
                        additionals += $(this).attr('name') + '=' + $(this).attr('value') + '&';
                    }
                });
                
                $.post(window.location.toString(), '&_ajax_call=1&method=emailpdf&contractor_id='+contractor_id+'&emails='+emails+'&'+additionals, function(data){
                    $("#report-callback").html(data.message);
                    if(data.status === 1)
                    {
                        $("#email-popup").hide();
                        $("#select-action").show();
                    }
                }, "json");
            });
                        
            $("#cancel-report").click(function(){
                $("#email-popup").hide();
                $("#select-action").show();
                $("#report-callback").html("");
            });
            
            $("#roi_report").submit(function(event){
                event.preventDefault();
                $.post(document.location.toString(), '_ajax_call=1&'+$(this).serialize(), function(data){
                        $("#roi_report_data").html(data).promise().done(function(){
                               // recalculate();
                        });
                });
            });
        });
        
        function emailPDF()
        {
            $("#email-popup").show();
            $("#select-action").hide();
            return false;
        }
        
    </script>
{/literal}

    <div class="row">
        <div class="span12"> 
            <div class="widget widget-shadow">
                <div class="widget-top">
                        <h5>Generate ROI Report</h5>
                </div>
                    <div class="widget-content">
                    <form action="" method="POST" id="roi_report" class="clearfix">
                            <input type="hidden" name="method" value="leadsreport"/> 
                            
                            <div class="row-fluid row-widget">
                                <div class="control-grup span6">
                                    <label>Contractors</label>
                                    <select class="select select-large span6 filters" name="client_id">
                                        <option value="0">Choose Contractor</option>
                                        {foreach from=$subusers item=user}
                                            <option value="{$user.id}">{$user.companyname}</option>
                                        {/foreach}
                                    </select> 
                                </div>
                            </div> 

                            <div class="form-actions">
                                <div id="report-callback"></div>
                                <div id="select-action">
                                    <div class="widget-half"><input type="submit" class="btn btn-green btn-large btn-wide pull-right" value="Generate Report"/></div>
                                    <div class="widget-half"><input class="btn btn-grey btn-large btn-wide pull-left" type="submit" onclick="emailPDF(); return false;" value="Email PDF" id="email-pdf" style="display: none"/></div>
                                </div>
                                <div id="email-popup" style="display: none">
                                    <p>We'll email this to you in a few minutes, where should we send it (separate Emails by commas)?</p>
                                    <textarea name="emails" class="input-block-level"></textarea>
                                    <div class="widget-half"><input type="button" class="btn btn-green btn-large btn-wide pull-right"  value="Send Report" id="send-report"/></div>
                     	              <div class="widget-action"><input type="button" class="btn btn-grey btn-large btn-wide pull-left" value="Cancel" id="cancel-report"/></div>
                                </div>
                            </div>
                            
                        </form>        
                    </div>
                    <div class="widget-bottom row-fluid row-inline">
                    	<div class="widget-left-shadow"></div>
                    	<div class="widget-right-shadow"></div>
                    </div>
                </div>
            </div><!--/widget-->
        </div><!--/row-->

<div id="roi_report_data">
    <p style="text-align: center"><b>Please, choose contractor</b></p> 
</div>


